<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   
   <!-- DataBase Connection Settings-->
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <property name="hibernate.connection.url">jdbc:mysql://localhost/mao?useUnicode=true&#038;useJDBCCompliantTimezoneShift=true&#038;useLegacyDatetimeCode=false&#038;serverTimezone=UTC</property>
   <property name="hibernate.connection.username">dbuser</property>
   <property name="hibernate.connection.password">123456</property>
   <property name="hibernate.current_session_context_class">thread</property>


   <!-- JDBC Connection Pool -->
   <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

   <!-- SQL Dialect -->
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

   <!--Disable the second level cache  -->
   <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

   <!--Echo all executed SQL to stdout  -->
   <property name="show_sql">true</property>

   <!--Drop and re-create the database schema on startup  -->
   <property name="hbm2ddl.auto">update</property>

   <!-- Names the annotated entity class  -->
   <mapping class = "com.Mao.BackEndDev.businessObjects.hr.PeopleContent.Employee"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.additionalData.otherContents.MaTypenew"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.hr.PeopleContent.Supplier"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.hr.PeopleContent.Address"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.hr.PeopleContent.SalType"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.hr.PeopleContent.Salary"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.additionalData.otherContents.Currency"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.additionalData.otherContents.DaysOfTheWeek"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.additionalData.otherContents.Degree"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.additionalData.otherContents.Diploma"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.additionalData.otherContents.Arrivefrom"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.hr.PeopleContent.SalType"/>
   <mapping class = "com.Mao.BackEndDev.businessObjects.additionalData.otherContents.ClassLevel"/>
   
   
   
   
   
   
 
 
</session-factory>
</hibernate-configuration>